<h1>In which item are you interested?</h1>
<div class="cards">
  <% @rents.each do |rent|%>
    <div class="card-category offer-cards">
      <div>
        <button type="button" class="btn btn-light placement"> <%= rent.price %><i class="fa-solid fa-euro-sign"></i> </button>
      </div>
      <%= link_to rent.name, rent_path(rent), class: "nav-link" %>
      <p><i class="fa-solid fa-signs-post">  </i><%= rent.category %></p>
      <p>What's this product about?</p><%= rent.description %>
      <hr>
      <p><strong>From:</strong>
      <%= rent.start_date %>
      <strong>Until:</strong>
      <%= rent.end_date %></p>
      <%= link_to "Interested? Go to the product page to learn more about it", rent_path(rent), class: "nav-link ", id: "color-black" %>
    </div>
  <% end %>
  <div id="map"
     style="width: 35%; height: 600px; position: sticky; top: 65px; margin-top: 10px; background-color: #E3E0CF; border-radius: 5px; margin-right: 15px"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
