<div class="showpage">
  <h1> This is the showpage of:</h1>
  <%= @rent.name %>
  <%= @rent.description %>
  <%= @rent.category %>
  <%= @rent.offer_category %>
  <%= @rent.price %>
  <%= @rent.start_date %>
  <%= @rent.end_date %>
</div>
