<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to root_path, class: "navbar-brand" do%>
    <i class="fa-light fa-campground"></i>
  <%end%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My account", "#", class: "nav-link" %>
        </li>
        <%# <li class="nav-item dropdown">
          <button class="avatar dropdown-toggle btn btn-default nav-link white-link", id="navbarDropdown", data-toggle= "dropdown", aria-haspopup= 'true', aria-expanded= 'false'>
            <%# <i class="fas fa-caret-down"></i> %>
          <%# </button>
          <div class="dropdown-menu dropdown-menu-right", id="dropdownmenuid", aria-labelledby="navbarDropdown"> %>
        <li class="nav-item">
          <%= link_to "Sell/rent", sale_rent_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Buy/Rent", offer_category_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign_up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
