<h1>In which item are you interested?</h1>
<div class="cards">
  <% @offers.each do |offer|%>
    <div class="card-category offer-cards">
      <div>
        <button type="button" class="btn btn-light placement"> <%= offer.price %><i class="fa-solid fa-euro-sign"></i> </button>
      </div>
      <%= link_to offer.name, offer_path(offer), class: "nav-link" %>
      <i class="fa-solid fa-signs-post"></i> <%= offer.category %>
      <p>What's this product about?</p>
      <%= offer.description%>
      <hr>
      <%= link_to "Interested? Go to the product page to learn more about it", offer_path(offer), class: "nav-link ", id: "color-black" %>
    </div>
  <%end%>
  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
