<div class="new_offers">
      <%= simple_form_for(@offer) do |f| %>
        <%# <%= f.input :offer_category, collection: ['Buy'], label: "Do you want to put your item for sale or for rent?"%>
        <%= f.input :category, collection: ['Tent', 'Camping Material', 'Clothing', 'Utensils'], label: "What kind of material?" %>
        <%= f.input :name, placeholder: "Mega-tent 4 pers." %>
        <%= f.input :description, placeholder: "Tent for up to 4 persons" %>
        <%= f.input :localisation, placeholder: "Address"%>
        <%= f.input :price, placeholder: "Price in euros" %>
        <%= f.submit %>
      <% end %>
</div>
