<div class="showpage">
  <h1> This is the showpage of:</h1>
  <%= @offer.name %>
  <%= @offer.description %>
  <%= @offer.category %>
  <%= @offer.offer_category %>
  <%= @offer.price %>
  <%= @offer.start_date %>
  <%= @offer.end_date %>
</div>
