<div class="separate">
  <div class="showpage">
    <h1> This is the showpage of:</h1>
    <%= @offer.name %>
    <%= @offer.description %>
    <%= @offer.category %>
    <%= @offer.offer_category %>
    <%= @offer.price %>
    <%= @offer.start_date %>
    <%= @offer.end_date %>
    <%= link_to "Delete", offer_path(@offer), method: "delete", data: { confirm: "Are you sure?" }%>
  </div>
  <div id="map"
      style="width: 50%; height: 100vh; position: sticky; top:0; background-color: #8AA2A9; border-radius: 5px; margin-right: 15px"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
